input.yellow-input {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}

input.yellow-input + label {
    color: #fff !important;
}

input.yellow-input:focus + label {
    color: #ffeb3b !important;
}

input.yellow-input:focus {
    border-bottom: 1px solid #ffeb3b !important;
    box-shadow: 0 1px 0 0 #ffeb3b !important;
}


input.yellow-input:-webkit-autofill,
input.yellow-input:-webkit-autofill:focus {
    transition: background-color 600000s 0s;
}

.message_info {
    background-color: forestgreen;
}

.message_error {
    background-color: #b30707;
}

.message_warning {
    background-color: #ff6600;
}

.pagination li.active {
    background-color: blueviolet !important;
}

[type="radio"]:checked + span:after {
    background-color: blueviolet;
}

[type="radio"]:checked + span:after {
    border: 2px solid blueviolet;
}

.progress {
    background-color: rgba(34, 139, 34, 0.3);
}

.progress .determinate {
    background-color: #00b100;
}

.weather-data th,
.weather-data td {
    padding-bottom: 5px;
    padding-top: 5px;
}

.load-data th,
.load-data td {
    padding-bottom: 5px;
    padding-top: 5px;
}

.filter {
    position: fixed;
    right: 20px;
    width: 160px;
}

.filter-limit,
.filter-status {
    margin-top: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    height: 1.4375em !important;
    border-bottom: none !important;
    margin: 0 !important;
    padding: 12px 8px !important;
    font-size: 14px !important;
}

.load-data + .css-1lwbda4-MuiStack-root {
    margin-top: 10px;
}

.input-field.col label.password {
    left: 0.75rem;
}

#nav-mobile .active {
    background-color: rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 992px) {

    .nav-list {
        display: none;
    }
    .nav-wrapper:hover .nav-list {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        background-color: #8e24aa;
        z-index: 999;
    }
    .row .col.s3,
    .row .col.s4 {
        width: 50%;
    }

    .row .col.s6,
    .row .col.s8 {
        width: 80%;
    }

    .row .col.offset-s2,
    .row .col.offset-s3,
    .row .col.offset-s4 {
        margin-left: 0;
    }

    .filter {
        right: 0;
    }

    .filter:hover {
        z-index: 88;
    }
}

@media only screen and (max-width: 601px) {

    .nav-list {
        display: none;
    }
    .nav-wrapper:hover .nav-list {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        background-color: #8e24aa;
        z-index: 999;
    }

    .row .col.s4,
    .row .col.s6,
    .row .col.s8 {
        width: 100%;
    }

    .row .col.offset-s2,
    .row .col.offset-s3,
    .row .col.offset-s4 {
        margin-left: 0;
    }

    .filter {
        right: 0;
    }

    .filter:hover {
        z-index: 88;
    }
}
